.barcodeList {
  border-collapse: collapse;
  width: 100%;
}
.barcodeList thead th {
  font-weight: 500;
  font-size: 16px;
  color: white !important;
  background-color: #4061bc;
  border: 1px solid #707070;
  padding: 0.35rem;
  text-align: center;
}
.barcodeList thead {
  border: 1px solid #707070;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
.barcodeList tr:hover {
  background-color: #77c2f8;
}
.barcodeList tr:nth-child(2n) {
  background-color: #f0f8ff;
}
.barcodeList td {
  text-align: center;
  border: 1px solid #707070;
  padding: 0.5rem;
}

.barcodeList td > input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.barcodeList td > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 819px) {
  .HH_Barcode {
    right: 15px;
    top: 10px;
  }
  .HH_HHCT {
    right: 20px;
    top: 5px;
  }
}
@media (width: 820px) {
  .HH_Barcode {
    right: 25px;
    top: 5px;
  }
  .HH_Barcode--LapRap {
    right: 25px;
    top: 5px;
  }
  .HH_HHCT {
    right: 30px;
    top: 5px;
  }
  .HH_HHCT_small {
    right: 20px;
  }
}
