.barcodeList {
  border-collapse: collapse;
  width: 100%;
}
.barcodeList tbody {
  max-height: 300px;
  overflow-y: auto;
}
.barcodeList thead th {
  font-weight: 500;
  background-color: #eeeeee;
  border: 1px solid #c0c0c0;
  text-transform: uppercase;
  padding: 0.25rem;
  text-align: center;
}

.barcodeList tr:hover {
  background-color: #eeeeee;
}

.barcodeList td {
  text-align: center;
  border: 1px solid #dcdcdc;
  padding: 0.5rem;
}

.barcodeList td > input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.barcodeList td > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
