.barcodeList {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  width: 100%;
}

.barcodeList thead th {
  font-weight: bold;
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  text-transform: uppercase;
  padding: 0.25rem;
  text-align: center;
}

.barcodeList tr:hover {
  background-color: #e1ebee;
}

.barcodeList td {
  text-align: center;
  border: 1px solid #dcdcdc;
  padding: 0.5rem;
}

.barcodeList td > input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.barcodeList td > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
