.ant-table-wrapper.setHeight,
.setHeight .ant-spin-container,
.setHeight .ant-table,
.setHeight .ant-table-container,
.setHeight .ant-table-container .ant-table-body {
  max-height: unset !important;
  height: calc(100vh - 300px);
}

@media (min-width: 536px) {
  .ant-table-wrapper.setHeight,
  .setHeight .ant-spin-container,
  .setHeight .ant-table,
  .setHeight .ant-table-container,
  .setHeight .ant-table-container .ant-table-body {
    height: calc(100vh - 280px);
  }
}

tbody tr {
  cursor: pointer;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.ant-table-summary {
  position: absolute;
}
