.box_content {
  position: relative;
}
.box_capnhat {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid rgb(152, 151, 151);
}
.text_capnhat {
  position: absolute;
  background-color: #fff;
  left: 20px;
  top: 0px;
}
.box_capnhat label {
  width: 70px;
}
.box_thongtin {
  padding: 5px;
  background-color: #ccc;
}
.box_thongtin *,
.box_thongtin select,
.box_thongtin input {
  background-color: #ccc;
  font-weight: 500;
  /* outline: none; */
}
.box_thongtin.create *,
.box_thongtin.create select,
.box_thongtin.create input {
  background-color: white;
  font-weight: 500;
  /* outline: none; */
}

.box_thongtin.create .sochungtu {
  background-color: gray;
}
.box_thongtin input,
.box_thongtin select,
.box_thongtin option {
  border: 1px solid rgb(152, 151, 151);
}

/* label {
/* label {
  min-width: 80px;
} */
.date_edit * {
  background: #fff;
}
.box_thongtin.create .box_content,
.box_thongtin.create .box_content * {
  background: #ccc;
}
.box_thongtin.create .box_content_left {
  border-radius: 5px;
  overflow: hidden;
  margin-right: 5px;
}
