.listNDC {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  width: 100%;
}

.listNDC thead th {
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  padding: 0.25rem 0.5rem;
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
}

.listNDC tr:hover {
  background-color: #e1ebee;
}

.listNDC td {
  text-align: center;
  border: 1px solid #dcdcdc;
  padding: 0.5rem;
}

.listNDC td > input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.listNDC td > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
