@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.box_dieuKhoan {
  overflow-y: scroll;
  height: 680px;
}
.ant-notification-notice {
  z-index: 1 !important;
}
@keyframes slideIn {
  from {
    right: -400px;
  }
  to {
    right: 20px;
  }
}

.slide-in-container {
  animation: slideIn 0.3s forwards;
}

* {
  box-sizing: border-box;
}

.courses-container {
  cursor: pointer;
  padding: 0 10px;

  width: 100vw;
}

.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 10px;
  overflow: hidden;
  width: 100vw;
}
.courses-container:hover .course .course-info {
  background-color: #2a265f;
  color: #fff;
  border-left: 5px solid #fff;
  transition: all 0.5s linear;
  /* transform: translateX(calc((100% - 210%) / 2.1)); */
}

.courses-container:hover .course.ISALEWEB_VUNGTAU .course-info {
  background-color: #0d0396;
  color: #fff;
  border-left: 5px solid #fff;
  transition: all 0.5s linear;
  /* transform: translateX(calc((100% - 210%) / 2.1)); */
}
.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}

.course-preview {
  background-color: #2a265f;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}
.course-preview.ISALEWEB_VUNGTAU {
  background-color: #0d0396;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}
.course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.course-info {
  padding: 30px;
  position: relative;
  width: 100%;
  border-left: 5px solid transparent;
}

.progress-container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 200px;
}

.progress {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress::after {
  border-radius: 3px;
  background-color: #2a265f;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 66%;
}

.progress-text {
  font-size: 16px;
  opacity: 0.6;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn {
  background-color: #2a265f;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}
